@charset "utf-8";
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #1f2034;
  width:300;
}

li {
  float: left;
}

li a {
  display: block;
  
  text-align: center;
  color:red;
  padding: 14px 16px;
  text-decoration: none;
  font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", "serif";
}

li a:hover:not(.active) {
  background-color: #111;
  color: white;
}

.active {
  background-color: #4CAF50;
}



input[type=text], input[type=password] ,input[type=file]{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
	color: midnightblue;
}
.text
{
	  width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box
}

button {
    background-color:#2F2F2F;
    color: white;
    padding: 14px 20px;
    border: none;
    width: 100%;
	border-radius: 60px;
}

button:hover {
    opacity: 0.8;
}


div.box
{
    width: 750px;
    background-color: rgba(0,0,0,0.55);
    padding: 0px 350px 15px 350px;
    align-content: center;
    border-radius: 20px 20px 20px 20px;
    color: rgba(255,255,255,1);

	
}
