@charset "utf-8";
/* CSS Document */

button.numb {
    background-color:#222827;
    color: red;
    padding: 4px 10px;
    border: none;
    border-radius: 50px;
    cursor: pointer;   
	font-size: 16px;
}

button.numb:hover {
    background-color: red;
	color: black;
	font-size: 16px;
}

button.arrows {
    background-color:#222827;
    color: red;
    padding: 5px 10px;
    border: none;
    border-radius: 30px;
    cursor: pointer;   
	font-size: 16px;
}

button.arrows:hover {
    background-color: red;
    color: black;
    font-size: 16px;
}
